body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 16px;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    display:flex ;
    align-items: center;
}

header h1 {
    margin: 0;
    flex: 1; 
    text-align: left; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}


#head_one {
    margin: 20px 0;
    padding: 10px 0;
    text-align: center; 
   
}

#assemplecode {
    background-color: #eceffa;
   
    border-radius: 5px;
    
    box-shadow: 0 5px 10px rgba(51, 170, 160, 0.1);
    overflow-x: auto;
    width: 80%;
    font-size: 1.25em;
    
    margin: 0px;
    font-style: revert-layer;
    
    padding: 10px;
}
#ans1{
    font-size: 1.5em;
}

#ans2{
    padding: 1.5px;
    margin: 10px;
    font-size: 25px;
    
    
    width: 60%;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
    
}
#pseudo{
    background-color: #f3e2bb;
    color: #c09022;
    font-size: 1em;
    box-sizing: border-box;
    margin: 0px;
    width: 81%;
    padding: 5px;
    box-shadow: 0 5px 10px rgba(51, 170, 160, 0.1);
    

}


@media (max-width: 768px) {
    #assemplecode, #ans1, #ans2 {
        width: 65%;
        font-size: 1em; 
        padding: 15px
}}
@media (max-width: 1024px) {
    #assemplecode, #ans1, #ans2 {
        width: 70%;
        font-size: 1em; 
        padding: 15px
    }
}
